.btn {
  background: $pf-color-white;
  border: none;
  border-radius: $pf-global--BorderRadius--sm;
  box-shadow: none;
  font-size: $pf-global--FontSize--xs;
  line-height: $pf-global--LineHeight--lg;
  padding: $pf-global--spacer--xs $pf-global--spacer--md;
  &-primary {
    background: $pf-color-blue-400;
    &:hover,
    &:focus,
    &:active,
    &.active {
      outline: none;
      background: $pf-color-blue-500;
    }
  }
  &-secondary {
    background: $pf-color-white;
    box-shadow: 0 0 0 1px $pf-color-blue-400 inset;
    color: $pf-color-blue-400;
    &:hover,
    &:focus,
    &:active,
    &.active {
      box-shadow: 0 0 0 2px $pf-color-blue-400 inset;
      outline: none;
      color: $pf-color-blue-400;
    }
  }
  &-tertiary,
  &-default {
    background: $pf-color-white;
    box-shadow: 0 0 0 1px $pf-color-black-300 inset;
    color: $pf-color-black-1000;
    &:hover,
    &:focus,
    &:active,
    &.active {
      outline: none;
      color: $pf-color-black-1000;
      background: $pf-color-black-200;
    }
  }
  &-success {
    background: $pf-color-green-400;
    &:hover,
    &:focus,
    &:active,
    &.active {
      outline: none;
      background: $pf-color-green-400;
    }
    &-secondary {
      background: $pf-color-white;
      box-shadow: 0 0 0 1px $pf-color-green-400 inset;
      color: $pf-color-green-400;
      &:hover,
      &:focus,
      &:active,
      &.active {
        background: $pf-color-white;
        box-shadow: 0 0 0 2px $pf-color-green-400 inset;
        outline: none;
        color: $pf-color-green-400;
      }
    }
  }
  &-danger {
    background: $pf-color-red-100;
    &:hover,
    &:focus,
    &:active,
    &.active {
      outline: none;
      background: $pf-color-red-200;
    }
    &-secondary {
      background: $pf-color-white;
      box-shadow: 0 0 0 1px $pf-color-red-100 inset;
      color: $pf-color-red-100;
      &:hover,
      &:focus,
      &:active,
      &.active {
        background: $pf-color-white;
        box-shadow: 0 0 0 2px $pf-color-red-200 inset;
        outline: none;
        color: $pf-color-red-200;
      }
    }
  }
  &-rounded {
    border-radius: $pf-global--BorderRadius--lg;
  }
  &-sm {
    font-size: $pf-global--FontSize--xs;
    line-height: $pf-global--LineHeight--md;
    padding: $pf-global--spacer--xs $pf-global--spacer--sm;
    &-icon {
      height: 24px;
      padding: 0;
      width: 24px;
    }
  }
  &-icon {
    padding: $pf-global--spacer--xs;
    width: 32px;
    &-circle {
      border-radius: $pf-global--BorderRadius--lg;
      }
  }
  &-has-left-icon {
    .svg-inline--fa {
      margin-right: $pf-global--spacer--sm;
    }
  }
  &-has-right-icon {
    .svg-inline--fa {
      margin-left: $pf-global--spacer--sm;
    }
  }
  .caret {
    margin-left: $pf-global--spacer--sm;
  }
  &-group > & {
    @extend .btn-tertiary;
    &:first-child {
      border-radius: $pf-global--BorderRadius--sm 0 0 $pf-global--BorderRadius--sm;
    }
    &:last-child {
      border-radius: 0 $pf-global--BorderRadius--sm $pf-global--BorderRadius--sm 0;
    }
    &:hover,
    &.active {
      background: $pf-color-white;
      color: $pf-color-blue-400;
    }
    &.active {
      box-shadow: 0 0 0 1px $pf-color-blue-400 inset;
      position: relative;
      z-index: 3;
    }
  }
  &-group-sm > & {
    @extend .btn-sm;
  }
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-radius: 0 $pf-global--BorderRadius--sm $pf-global--BorderRadius--sm 0; 
}