h1 {
    font-size: $pf-global--FontSize--3xl;
    font-weight: $pf-global--FontWeight--light;
}
h2 {
    font-size: $pf-global--FontSize--lg;
    font-weight: $pf-global--FontWeight--light;
}
h3 {
    font-size: $pf-global--FontSize--sm;
    font-weight: $pf-global--FontWeight--semi-bold;
}